<h1>Voting rounds for <%= @day.cohort_name %></h1>
<table>
	<tr>
		<th>Round number</th>
		<th>Open</th>
		<th>Action</th>
	</tr>
<% @rounds.each do |round| %>
  <tr>
  	<td><%= round.round_number %></td>
  	<td><%= round.is_open %></td>
  	<% if round.is_open %>
  	  <td><%= link_to 'Cast a vote', cohort_pitch_day_voting_round_path(@day, round) %></td>
  	<% else %>
  	  <td><%= link_to 'View results', cohort_pitch_day_voting_round_path(@day, round) %></td>
  	<% end %>
  	
  </tr>
<% end %>
</table>