<h1><%= @day.cohort_name %></h1>

<h2>Pitch details</h2>
<table id="pitches">
	<tr>
		<th class="proposer"  >Proposer</th>
		<th class="pitch_name" >Pitch name</th>
		<th>Pitch Description</th>
	</tr>

    <% @day.pitches.each do |pitch| %>
      <%= render partial: 'pitches/pitch', locals: {pitch: pitch} %> 
    <% end %>
</table>

<h3> Add a pitch</h3>
<%= form_for [@day, @pitch] do |f| %>
  <%= f.hidden_field :cohort_pitch_day_id, value: @day.id %>
  <%= f.label :proposer %> 
  <%= f.text_field :proposer %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.submit %>

<% end %>
