<div id="candidate_selection_area">
  <h4>Drag the pitches into your preference order.</h4>
	If you don't want to vote for a pitch at all, drag it out of the box. Try to vote for at least eight pitches.
  <div class="candidates" id="candidates_available">

  	<ul id="candidate_list" class="sortable">
    <% round.voting_round_candidates.each do |cand| %>
        <li data-cand-id="<%= cand.id %>" class="cand"><%= cand.pitch.name %> <span class="proposer">(<%= cand.pitch.proposer %>)</span> <%= cand.id %></li>
    <% end %>
    </ul>
  </div>
  <button data-purpose="cast-ballot">Cast your votes!</button>

  <%= form_tag '/vote', {id: 'the_vote_form', class:'vote_form'} do %>
   <%= hidden_field_tag 'votes', '' %>
  <% end %>

</div>
