<!DOCTYPE html>
<html>
<head>
  <title>PitchVote</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
	<div id="user_login_status">
	<% if current_user %>
	  Logged in as <%= current_user.name %> <%= link_to 'Sign out', signout_path %>
	<% else %>
	  <%= link_to 'Sign in', '/auth/dbc' %>
	<% end %>
    </div>
</nav>

<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <%= content_tag :div, msg, :class => "flash_#{name}" %>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
